@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white overflow-x-hidden;
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border-radius: 16px;
}
